@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* 
{
    padding: 0;
    margin: 0;
    border: 0;
}

.menu 
{
    max-width: 960px;
    width: 100%;
}

.conteiner 
{
    max-width: 960px;
    width: 100%;
    margin-left: auto auto;   
}

.navigation
{
    list-style: none; 
    line-height: 49px;
}

.navigation::after 
{
    content: "";
    display: block;
    clear: both;
}

.navigation__li 
{
    float: left;  
}

.navigation__li_about
{
    max-width: 140px;
    width: 100%;
    height: 100%; 
}


.navigation__link 
{ 
    
    padding: 15px 20px 15px 46px; 
    text-decoration: none;
    font-size: 19px;
    color: #333333;
    font-family: Georgia;
    background: url("img/css_sprites.png") no-repeat top; 
}

.navigation__link_about
{
    background: #15a98c url("img/css_sprites.png") no-repeat -3px -74px;
    color: #f5f5f5; 
    
}

.navigation__link_hobby:hover 
{
    color: #f5f5f5;
    background: #15a98c;
}

.navigation__link_hobby
{
    background-position: -3px -139px;  
}

.navigation__link_hobby:hover
{
    color: #f5f5f5;
    background: #15a98c url("img/css_sprites.png") no-repeat -3px -205px; 
}

.navigation__link_video
{
    background-position: -3px -271px;  
}

.navigation__link_video:hover
{
    color: #f5f5f5;
    background: #15a98c url("img/css_sprites.png") no-repeat -3px -337px; 
}

.wrapper 
{
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content 
{
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background: url("img/background.png") no-repeat;
    background-size: auto auto; 
}

.block 
{
    max-width: 960px;
    width: 100%;  
}

.top-block 
{
    display: flex;
    margin-top: 209px;
}

.top-block__image 
{
    width: 330px;
    height: 351px;
    margin-right: 60px;
}

img[alt="photo"] 
{
    border-radius: 5px;
}

.top-block-text
{
    flex-direction: column;
}

.top-block-text__quote 
{
    padding: 24px 0 0 1px;
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
    font-style: italic;
    font-family: Georgia, sans-serif;
}

.top-block-text__author 
{
    font-size: 16px;
    line-height: 42px;
    color: #f5f5f5;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    padding: 2px 0 0 5px;
    margin-bottom: 83px;
}

.top-block-text__title
{
    font-size: 48px;
    line-height: 42px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    padding: 0 0 0 3px;
    position: relative;
}

.top-block-text__title::before
{
    content:"";
    position: absolute;
    width: 60px;
    height: 6px;
    left: 0;
    top: 74px;
    background:  #45c3aa;
    border-radius: 6px;
}

.block-sidebar 
{
    float: left;
    margin: 42px 140px 10px 0;
}

.clear-fix
{
    display: block;
    clear: both;
}
.sidebar 
{
    max-width: 330px;
    width: 100%;
    margin-right: 30px;  
}

.sidebar__title 
{
    padding: 2px 0 0 0;
    font-size: 24px;
    color: #15a98c;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
}

.sidebar__list 
{
    font-size: 19px;
    line-height: 36px;
    font-family: Georgia;
}

.sidebar__list_marker 
{   
    padding: 0 0 35px 0;
    color: black;
    padding: 12px 0 37px 0;
    padding-inline-start: 23px;
}

.sidebar__list_number 
{
    padding: 13px 0 37px 0;
    padding-inline-start: 20px;
}

.block-description 
{
    padding: 7px 0 0 0;
    margin: 0 0 64px 0;
}

.block-description__text
{
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: Georgia, sans-serif;
    margin: 0 0 46px 0;
}

.block-description__title 
{
    margin: 74px 0 15px 0;
}

.subtitle 
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.link 
{
    font-size: 19px;
    color: #15a98b;
    font-family: Georgia;
}

.link:hover 
{
    color: #098d72;
}

.link__write-me
{
    text-decoration: underline;
    color: #15a98b;
}

.link__write-me:hover 
{
    color: #098d72;
}

.block-description__link 
{
    
}

img[alt="img"] 
{
    border-radius: 5px;
}
.columns-wrapper
{
    max-width: 1920;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}

.columns 
{
    max-width: 1200px;
    width: 100%;
    margin: 35px 0 0 0; 
    display: flex;
    flex-direction: column;  
}

.columns-row
{
    display: flex;
    margin: 0px -5px;
}

.columns__title 
{
    margin: 0 0 31px 0; 
}

.columns__item
{
    padding: 0px 10px;
    flex: 0 1 25%;
}

.columns__item:first-child
{
    padding: 0 10px 0 4px;
}
.columns__image 
{
    width: 285px;
    height: 191px;
}

.columns__text 
{
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia";
}

.button
{
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: Georgia;
}

.columns__button 
{
    align-self: center;
    margin: 54px 0 60px 0;
}


.columns-item 
{
    display: flex;
    flex-direction: column;
}

.columns-item__title 
{
    font-size: 22px;
    line-height: 32px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    padding: 22px 0 17px 0;  
}


.form 
{
    max-width: 700px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    margin: 46px 0 69px 0;
    position: relative;
}

.form__title::before
{
    content:"";
    position: absolute;
    width: 200px;
    height: 1px;
    left: -228px;
    top: 22px;
    background: gray;   
}

.form__title::after
{
    content:"";
    position: absolute;
    width: 200px;
    height: 1px;
    left: 281px;
    top: 22px;
    background: gray;    
}

.form__column
{
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 0 48px 0   
}

.form__item
{
    margin: 0 0 24px 0;
}

.form__subtitle 
{
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
}

.form__subtitle_snowflake::after
{
    color: red;
    content:"*"; 
}

.form__field
{
    border-radius: 3px;
    width: 540px;
    height: 50px;
    border: 2px solid #c9c9c9;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 0 0 0 20px;
}

.form__field:focus
{
    border: 2px solid #15a98c;
}

.form__field_gender
{
    border: none; 
    margin: 21px 0 0 0; 
}

.form__country 
{
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    font-weight: 400;
    font-family: "Open Sans";
    background: url("img/arrow_down.png") no-repeat;
    background-position: 97% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form__country-item 
{

}

.form__gender-item 
{

}

.form__gender-item-text 
{
    font-size: 18px; 
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin: 0 37px 0 0;
}

.form__subtitle_message
{
    padding: 54px 0 0 0;
}

.form__message 
{
    height: 150px;
}

.form__button
{
    margin: 19px 0 0 0;
    align-self: flex-start;
}

.form__button_submit 
{

}

.footer 
{

}

.footer__row 
{
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.footer__text 
{
    font-size: 16px;
    line-height: 32px;
    color: #555555;
    font-family: Georgia, sans-serif;
}