@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
{
    padding: 0;
    margin: 0;
    border: 0;
}

.page {
    max-width: 1000px;
    padding: 0 20px 0 20px;
}

.page-header {
    width: 960px;
    margin-bottom: 50px;
}

.page-header:after {
    content: "";
    display: table;
    clear: both;
}

.page-header__foto {
    width: 330px;
    height: 351px;
    margin-right: 60px;
    float: left;
}

img[alt="photo"] {
    border-radius: 5px;
}

.quote {
    width: 570px;
    height: 351px;
    background: url("img/quotes.png") left 0 top 51px no-repeat;
    background-size: 130px 87px;
    float: right;
}

.quote:after {
    content: "";
    display: block;
    clear: both;
}

.quote__icon {
    width: 130px;
    height: 87px;
    padding-top: 51px;
}

.quote__text {
    width: 444px;
    padding: 130px 0 0 58px;
    font-size: 28px;
    line-height: 42px;
    color: #848484;
    font-style: italic;
    font-family: Georgia, sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.quote__author {
    font-size: 16px;
    line-height: 42px;
    color: #333333;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
}

.page-content {
    width: 960px;
}

.sidebar {
    width: 330px;
    margin-right: 60px;
    float: left;
}

.sidebar__list {
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: Georgia;
    margin: 0 0 60px 0;
}

.sidebar__list_marker {
    list-style: disc, outside;
    color: black;
    margin: 1em 0 1em 0;
    padding-inline-start: 20px;
}

.sidebar__list_number {
    list-style: decimal, outside;
    margin: 1em 0 1em 0;
    padding-inline-start: 20px;
}

.sidebar__title {
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
    margin 0 0 30px 0;
}

.content {
    width: 570;
    float: right;
}

.content:after {
    content: "";
    display: block;
    clear: both;
}

.content__title {
    font-size: 48px;
    line-height: 42px;
    color: #333333;
    font-weight: 700;
    font-family: Open Sans, sans-serif;
}

.content__line {
    align: right;
    background-color: #45c3aa;
    width: 60px;
    margin: 34px 0 53px 0;
    padding: 0;
    height: 6px;
    border: #45c3aa;
    border-radius: 3px;
}

.content__text {
    width: 555px;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: Georgia, sans-serif;
}

.content__subtitle {
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 400;
    font-family: Open Sans, sans-serif;
    margin: 55px 0 33px 0;
}

.content__footer {
    width: 562px;
    height: 263px;
    font-size: 19px;
    line-height: 32px;
    color: #15a98b;
    font-family: Georgia;
    margin: 57px 0 0 0;
}

.content__footer ::after {
    content: '\2192';
}

.content__footer :hover {
    color: #098d72;
}